* {
  margin: 0;
  padding: 0;
}
h1 {
    color: seagreen;
}

h3 {
font-size: 18px;
color: purple;
 }

.partners {
   color: blue;
 }

img {
  width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

/*Navigation*/

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4173a7
}

.navigation {
  display: flex;
}

.navigation a {
  display: block;
  padding: 16px;
  color: #fff;
}

.logo, .navigation {
  text-decoration: none;
  list-style-type: none;
}

.logo a, .navigation a {
  text-decoration: none;
}
